.element__name {
    max-width: 200px;
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21042;
    margin: 25px 0 31px 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}