.header__logo {
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 520px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-left: 25px;
    }
}

.header__logo:hover {
    opacity: 60%;
    transition: opacity linear 0.5s;
}

