.header {
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 40px;
    border-bottom: solid 1px #545454;
}

@media screen and (max-width: 945px) {
    .header {
        margin-left: 19px;
        margin-right: 19px;
    }
}

@media screen and (max-width: 750px) {
    .header {
        min-height: 55px;
        margin-top: 28px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 520px) {
    .header {
        margin-left: 0;
        margin-right: 0;
    }
}