.elements {
    max-width: 880px;
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 17px;
}


@media screen and (max-width: 945px) {
    .elements {
        margin-left: 19px;
        margin-right: 19px;

    }
}

@media screen and (max-width: 350px) {
    .elements {
        display: flex;
        flex-direction: column;
        margin: 36px 0 0;
        gap: 0;
    }
}
