.profile__name {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14286;
    color: #FFFFFF;
    margin: 22px 18px 16px 0;
    width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__name {
        font-size: 27px;
        line-height: 1.21037;
        max-width: 189px;
    }
}

@media screen and (max-width: 600px) {
    .profile__name {
        margin-left: 75px;
        width: 189px;
        margin: 0px 10px 14px 46px;
    }
}