.profile__desription {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.21;
    color: #FFFFFF;
    margin: 0px 0px 25px 0;
    max-width: 336px;
}

@media screen and (max-width: 700px) {
    .profile__desription {
        font-size: 14px;
        max-width: 282px;
    }
}

@media screen and (max-width: 600px) {
    .profile__desription {
        max-width: 282px;
        margin: 0 auto 36px;
        text-align: center;
    }
}