.popup__button-text {
    margin: 14px auto 18px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.21;
    height: 18px;
}

@media screen and (max-width: 530px) {
    .popup__button-text {
        margin: 14px auto 14px;
        font-size: 14px;
    }
}