.profile__add-image {
    width: 22px;
    height: 22px;
    margin: 13px 63px 13px 63px;
}

@media screen and (max-width: 700px) {
    .profile__add-image {
        width: 18px;
        height: 18px;
        margin: 6px 41px 6px 41px;
    }
}

@media screen and (max-width: 600px) {
    .profile__add-image {
        width: 16px;
        height: 16px;
        margin: 17px 132px;
    }
}