.element {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 350px) {
    .element {
        margin: 0 19px 20px;
        width: calc(100% - 38px);
        height: 361px;

    }
}